.idea/

# built binary
terraform-provider-castai

# terraform examples/
examples/**/.terraform/
examples/**/terraform.d/
examples/**/crash.log
examples/**/*.tfstate
examples/**/*.tfstate.backup
examples/**/.terraform.lock.hcl
examples/**/*.tfvars
examples/**/.kube/*
terraform.tfstate
.terraform*
